@mixin pad{
  @media(max-width:768px){
    @content;
  }
}
@mixin mobile{
  @media(max-width:375px){
    @content;
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center bottom;
}
body {
  margin: 0;
  box-sizing: border-box;
}
.nav {
  margin-top: 30px;
  @include pad{
    margin-top: 20px;
  }
  @include mobile{
    margin-top: 15px;
  }
  a {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 10px #000000;
    font-size: 50px;
    position: relative;
    @include pad{
      font-size:35px;
      text-shadow: 1px 1px 5px #000000;
    }
    @include mobile{
      font-size:30px;
      text-shadow: 1px 1px 5px #000000;
    }
    &:after {
      content: '';
      width: 0%;
      height: 1px;
      background-color: #000;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all .3s linear;
    }
    &:hover::after {
      width: 100%;
    }
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}