@mixin pad{
  @media(max-width:768px){
    @content;
  }
}
@mixin mobile{
  @media(max-width:375px){
    @content;
  }
}

.bookListBorder {
  width: 90vw;
  height: 350px;
  margin-top: 40px;
  box-shadow: 0 0 5px 0 rgba(51, 51, 51, 0.3);
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  @include pad() {
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  @include mobile{
    width: auto;
    margin-top: 15px;
  }
}
.bookList {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  width: 88vw;
  @include pad() {
    flex-flow: wrap;
    overflow-y: scroll;
    height: 62vh;
    justify-content: space-around;
  }
  @include mobile{
    flex-flow: nowrap;
    width: auto;
    flex-direction: column;
    height: 65vh;
    justify-content: flex-start;
  }
}
.book {
  width: 285px;
  height: 275px;
  margin: 10px;
  @include pad() {
    width: 155px;
    height: 295px;
  }
  @include mobile{
    width: 285px;
    height: 275px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
.bookImg {
  height: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  img {
    width: 150px;
    border: 3px solid gray;
    transition: box-shadow 0.3s;
    animation: scale-in-normal 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    box-shadow:
            10px 10px 30px rgba(18, 47, 61, 0.5),
            -10px -10px 30px rgba(248, 253, 255, 0.9),
            inset 10px 10px 30px transparent,
            inset -10px -10px 30px transparent;
    &:hover {
      box-shadow:
              10px 10px 30px transparent,
              -10px -10px 30px transparent,
              inset 10px 10px 30px rgba(18, 47, 61, 0.5),
              inset -10px -10px 30px rgba(248, 253, 255, 0.9);
    }
  }
}
.bookDes {
  display:inline-block;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: gray;

}
.activeBook {
  .bookImg {
    img {
      animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      border: 3px dashed gray;
      box-shadow:
              10px 10px 30px transparent,
              -10px -10px 30px transparent,
              inset 10px 10px 30px rgba(18, 47, 61, 0.5),
              inset -10px -10px 30px rgba(248, 253, 255, 0.9);
    }
  }
  .bookDes {
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}

@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(-2px);
    transform-origin: 50% 50%;
    text-shadow:  0 1px 0 #cccccc, 0 15px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0.9);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}
@keyframes scale-in-normal {
  0% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

